body {background-color: #E3CE0B;
	overflow-x: hidden;
}

.container {width: 100%;
	margin: 0 0px;
}

/*Top Bar*/
.topBar {width: 100%;
	background-color: #75532D;
	color: white;
	padding: 20px 10px 50px 10px;
}

.acro {font-family: 'Roboto Condensed', sans-serif;
	color: #E3CE0B;
	display: inline;
}

#description {font-size: 15px;
}


#appInfo {display: inline-block;
	float: left;
	margin-right: 50px;
}

#searchSection {display: inline-block;
	float: left;
	margin-right: 60px;
	padding-top: 5px;
}

#addAnimal {display: inline-block;
	margin-left: 3px;
	margin-right: 6px;
}

#searchBar {margin-top: 5px;
	width: 150px;
}

#buttonDisplay {display: inline-block;
	max-width: 1000px;
}

h2 {font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
}

p {font-family: 'Roboto Condensed', sans-serif;
}

button {margin: 5px 5px;
}

/*GIF section*/
#GIFBoard {width: 100%;
	background-color: #E3CE0B;
}

.GIFsection {display: inline-block;
	margin: 10px 20px;
	border-color: #75532D;
	border-style: solid;
	border-width: 2px;
	background-color: #75532D;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 5px;
	border-radius: 15px;
}

.padding {
padding-bottom: 5PX;
}

footer {font-family: 'Roboto Condensed', sans-serif;
	font-size: 10px;
	text-align: center;
	padding: 3px 0;
	background-color: white;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.footer {color: black
}

